.BuildControls {
  width: 100%;
  background-color: #cf8f2e;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}

.BuildControls .Price {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0;
}
